:root {
    /* color palette */
    --violet: #6200EE;
    --purple: #370083;
    --cyan: #03ac9b;
    --turquoise: #018786;
    --fadeblue: #aab4b4;
    --error: #B00020;
    --white: #fff;
    --offwhite: #e0dedf;
    --black: #000;
    --lightblack: #151515;
    --offblack: #343231;
    
    /* font style */
    --ftfam: 'Share Tech Mono', monospace;
    --ftsize: 40px;
    --liht: 1.5;

    /* border style */
    --bradius: 10%; 

    /* position style */
    --post: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-color: var(--offblack);
    color: var(--white);
    line-height: var(--line-height);
}

header {
    position: var(--post);
    top: 0;
    background-color: var(--lightblack);
    line-height: 2;
    font-size: 3em;
    font-weight: bold;
    padding-left: 1%;
}

#start-btn,
#submit-btn,
#restart-btn {
    font-family: var(--ftfam);
    font-size: 18px;
    padding: 0px 50px;
    border: 0px;
    border-radius: 10%;
    line-height: 3;
    color: var(--white);
    background-color: var(--turquoise);
    text-align: center;
}

#start-btn:hover,
#submit-btn:hover,
#restart-btn:hover {
    background-color: var(--cyan);
}

#start-btn {
    position: relative;
    top: 22rem;
}

.numbers {
    position: absolute;
    top: 7rem;
    right: 3rem;
    text-align: right;
    font-family: var(--ftfam);
    font-weight: bold;
}

.timer {
    position: absolute;
    line-height: 3.2rem;
}
    
.start {
    text-align: center;
}

/* add "less-than" symbol for display before title */
.quiz-title::before {
    content: "\003C";
    display: inline-block;
    padding-right: 1%;
    color: var(--cyan)
}

.quiz-title {
    color: var(--offwhite);
    font-family: var(--ftfam)
}

/* add "greater-than" symbol for display after title */
.quiz-title::after {
    content: "\003E";
    display: inline-block;
    padding-left: 1%;
    color: var(--cyan)
}

.box {
    border: 0;
    border-radius: 5%;
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 250px;
    height: 700px;
    background-color: var(--fadeblue);
}

.questions {
    margin: 20px;
    text-align: center;
}

.question-progress {
    position: var(--post);
    top: 1rem;
    font-weight: bold;
}

.question-here {
    position: var(--post);
    top: 8rem;
    font-family: var(--ftfam);
    font-size: var(--ftsize);
}

.answers {
    text-align: center;
    position: var(--post);
    top: 12rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

#scoreboard {
    /* position: var(--post); */
    border: 0;
    border-radius: 5%;
    margin-left: 700px;
    margin-right: 700px;
    height: 250px;
    background-color: var(--fadeblue);
    text-align: center;
    font-family: var(--ftfam);
}

#total-score {
    position: relative;
    top: 2rem;
    font-weight: bold;
    font-size: 30px;
}

.input {
    position: relative;
    top: 3rem;
}

.sub {
    text-align: center;
}

#submit-btn {
    position: relative;
    top: -5rem;
}

#highscore {
    border: 0;
    border-radius: 5%;
    margin-left: 700px;
    margin-right: 700px;
    height: 300px;
    background-color: var(--fadeblue);
    text-align: center;
    font-family: var(--ftfam);
}

#winners {
    text-align: center;
    position: relative;
    left: 5rem;
    top: 1rem;
}

h2 {
    position: relative;
    top: 1rem;
}

#restart-btn {
    position: relative;
    top: 12rem;
    left: -2rem;
}